@font-face {
	font-family: PxPlus_IBM_VGA;
	src: url(PxPlus_IBM_VGA8.ttf);
}

body {
	font-family: "PxPlus_IBM_VGA", monospace;
	background: #272820;
	color: #fff;
	width: 90%;
	margin: auto;
}

hr {
	border: none;
	border-top: 1px dashed #cdcdcd;
}

h2 { color: #cdcd00; }
h4 { color: #cd00cd; }
a { color: #00cdcd; }
a:hover { color: #f0f; }

@keyframes blink {
	0% { background: #272820; }
	50% { background: #272820; }
	51% { background: #cdcd00; }
	100% { background: #cdcd00; }
}

.cursor { animation: blink 1.5s linear 0s infinite none; }

.content {
	max-width: 70ch;
	padding: 0 2ch;
}
