/* GLOBAL NAVBAR STYLES */
nav {
	height: 50px;
	font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.navbar-brand {
	font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 200;
	letter-spacing: 1px;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-brand:hover {
	color: #fdcc52 !important;
}

.navbar-default .nav > li > a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.navbar-default .nav > li > a:hover {
	color: #fdcc52 !important;
	background-color: transparent;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus,
.navbar-default .nav > li.active > a:hover {
	color: #fdcc52 !important;
	background-color: transparent;
}

/* TOP NAVBAR STYLES */
.affix-top {
	background-color: transparent;
	border-color: transparent;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

.affix-top .navbar-brand {
	color: #fff;
}

/* MAIN NAVBAR STYLES */
.affix {
	background-color: #fff;
	border-color: #e7e7e7;
	-webkit-transition: all 0.45s;
	-moz-transition: all 0.45s;
	transition: all 0.45s;
}

.affix .navbar-brand {
	color: rgb(34, 34, 34);
}

/* NAVBAR TOGGLE MENU STYLES */
@media (max-width: 768px) {
	.affix-top button,
	.affix-top button:focus {
		background-color: transparent !important;
		color: #fff;
		-webkit-transition: all 0.45s;
		-moz-transition: all 0.45s;
		transition: all 0.45s;
	}

	.affix-top button:hover,
	.affix-top button:active {
		background-color: #000 !important;
	}

	.affix-top .navbar-collapse {
		border: none;
		background-color: #000;
	}

	.affix .navbar-collapse {
		background-color: #fff;
	}
}

/* GLOBAL CONTENT STYLES */
body {
	font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
}

h2, h4 {
	font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

section {
	padding: 100px 0;
}

section a {
	font-weight: bold;
}

.italic { font-style: italic; }

/* INDIVIDUAL SECTION SPECIFICS */
#about {
	/* padding: 90px 100px 100px 100px; */
	background-color: #221e1d;
	background: -webkit-linear-gradient(to bottom, #151110, #221e1d);
	background: linear-gradient(to bottom, #151110, #221e1d);
	color: #fff;
}

.carousel img {
	display: none;
}

.slick-initialized img {
	display: block;
}

#media {
	background: #fdcc52;
	background: -webkit-linear-gradient(#fdcc52, #fdc539);
	background: linear-gradient(#fdcc52, #fdc539);
}

#media .vspacer {
	margin-top: 20px;
}

@media (max-width: 1199px) {
	#media .hspacer {
		margin-top: 20px;
	}
}

#teaching table,
#teaching td {
	border: 1px solid #000;
	padding: 5px;
	text-align: center;
}

#teaching .headers {
	font-weight: bold;
}

#chrd {
	background: url("../img/bg-pattern.png"), #dc2430;
	background: url("../img/bg-pattern.png"), -webkit-linear-gradient(to left, #dc2430, #7b4397);
	background: url("../img/bg-pattern.png"), linear-gradient(to left, #dc2430, #7b4397);
	color: white;
}

#contact #success_message { display: none; }
#contact #error_message { display: none; }
#submit-button { display: none; }

.g-recaptcha { display: inline-block; }

/* SOCIAL */
ul.list-social {
	margin-bottom: 0;
}

ul.list-social li a {
	display: block;
	height: 80px;
	width: 80px;
	line-height: 80px;
	font-size: 40px;
	border-radius: 100%;
	color: white;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}

ul.list-social li.social-twitter a {
	background-color: #1da1f2;
}

ul.list-social li.social-twitter a:hover {
	background-color: #0488d9;
}

ul.list-social li.social-facebook a {
	background-color: #3b5998;
}

ul.list-social li.social-facebook a:hover {
	background-color: #344e86;
}

ul.list-social li.social-instagram a {
	background-color: #fb3958;
}

ul.list-social li.social-instagram a:hover {
	background-color: #e2203f;
}

/* CAROUSEL */
.carousel div { overflow: hidden; }
.carousel img { margin: 0 auto; }
.slick-prev:before { color: #fff; }
.slick-next:before { color: #fff; }
.slick-dots li button:before { color: #ddd; }
.slick-dots li.slick-active button:before { color: #fff; }

.small-screen-image {
	display: none;
	margin: 20px 0px;
}

@media (max-width: 800px) {
	.carousel { display: none; }
	.small-screen-image { display: block; }
}

/* FOOTER */
footer {
	background-color: #222222;
	border-top: 1px solid #000;
	padding: 25px 0;
	color: rgba(255, 255, 255, 0.3);
	text-align: center;
}

footer p {
	font-size: 12px;
	margin: 0;
}
