@font-face {
	font-family: Unifont;
	src: url(UnifontLatin.woff2) format('woff2'),
		 url(UnifontLatin.woff) format('woff'),
		 url(UnifontLatin.ttf) format('truetype');
}

body {
	font-family: "Unifont", monospace;
	background: #111;
	color: #fff;
	width: 90%;
	margin: auto;
}

hr {
	border: none;
	border-top: 1px dashed #cdcdcd;
}

h2 { color: #cdcd00; }
h4 { color: #cd00cd; }
a { color: #00cdcd; transition: color 0.2s; }
a:hover { color: #f0f; }
a svg { fill: #00cdcd; transition: fill 0.2s; }
a svg:hover { fill: #f0f; }
h1 a { color: #fff; text-decoration: none !important; }
h1 a:hover { color: #00cdcd; }
h2 a { color: #cdcd00; text-decoration: none !important; }
h2 a:hover { color: #f0f; }

svg {
	margin: 0 0.3em -0.2em 0.3em;
}

.link-icons {
	float: right;
	font-size: 2em;
	display: flex;
	align-items: center;
	gap: 0.2em;
}

.link-icons svg {
	fill: #cdcd00;
	width: 1.1em;
}

.inline-icon svg {
	width: 1em;
}

.ukraine {
	text-decoration: none;
	font-size: 1.4em;
}

table {
	text-align: left;
	border-spacing: 1.5em 0.1em;
}

th { border-bottom: 1px dashed #cdcdcd; }

@keyframes blink {
	0% { opacity: 0%; }
	50% { opacity: 100%; }
}

.cursor { animation: blink 1.5s steps(1,end) 0s infinite none; }
h2 .cursor { background: #cdcd00; }
h2 a:hover .cursor { background: #f0f; }

.content-full { padding: 0 2ch; }

.content {
	padding: 0 2ch;
	max-width: 80ch;
	overflow-wrap: break-word;
}

.content h1:not(:first-child) {
	margin-top: 2em;
}

.center { text-align: center; }

.centered { margin: 0 auto; }

.tall { line-height: 1.5em; }

.footer {
	font-size: 0.8em;
	line-height: 90%;
	text-align: center;
	margin: 12ch auto 0 auto;
}

@media only screen and (max-width: 600px) {
	.no-mobile { display: none; }
}

.todo {
	background: #000;
	color: #cdcd00;
	padding: 0.15em;
	border-radius: 0.2em;
}

code {
	background: #000;
	font-family: "Unifont", monospace;
	padding: 0.15em;
	border-radius: 0.2em;
}

pre {
	background: #000;
	padding: 0.5em;
	border-radius: 1em;
	white-space: pre-wrap;
}

pre code {
	padding: 0;
	border-radius: 0;
}

.hljs { color: #f8f8f2; }
.hljs-tag, .hljs-subst { color: #f8f8f2; }
.hljs-strong, .hljs-emphasis { color: #a8a8a2; }
.hljs-bullet, .hljs-quote, .hljs-number, .hljs-regexp, .hljs-literal,
.hljs-link { color: #ae81ff; }
.hljs-code, .hljs-title, .hljs-section, .hljs-selector-class { color: #a6e22e; }
.hljs-strong { font-weight: bold; }
.hljs-emphasis { font-style: italic; }
.hljs-keyword, .hljs-selector-tag, .hljs-name, .hljs-attr { color: #f92672; }
.hljs-symbol, .hljs-attribute { color: #66d9ef; }
.hljs-params, .hljs-title.class_, .hljs-class .hljs-title { color: #f8f8f2; }
.hljs-string, .hljs-type, .hljs-built_in, .hljs-selector-id,
.hljs-selector-attr, .hljs-selector-pseudo, .hljs-addition, .hljs-variable,
.hljs-template-variable { color: #e6db74; }
.hljs-comment, .hljs-deletion, .hljs-meta { color: #75715e; }
