extends layout.pug

block content
	br
	div(class="content")
		h3 Code
		div(class="content")
			p
				a(href="https://glinka.io") Glinka
				a(href="https://www.npmjs.com/package/glinka" class="inline-icon") !{icons.get("npm").svg}
				span &nbsp; A fast Typescript compiler written in Zig
			p
				a(href="https://spockfish.com") Spockfish
				span &nbsp; A 3D chess engine and interface
			p
				a(href="https://github.com/oetherington/jskorost") JSkorost
				span &nbsp; A fast single-header JSON parser
			p
				a(href="https://www.etherington.io/chrd/") Chrd
				span &nbsp A LaTeX inspired chord chard editor
			p
				a(href="https://github.com/oetherington/ws") ws
				span &nbsp; A simple CLI workspace manager
			p
				a(href="https://github.com/oetherington/ChessPieceSwitcher") ChessPieceSwitcher
				a(href="https://addons.mozilla.org/en-US/firefox/addon/chesspieceswitcher/" class="inline-icon") !{icons.get("firefox").svg}
				a(href="https://chrome.google.com/webstore/detail/lichesspieceswitcher/koifaekonhpknbmkbgcacnfcplmhaehn" class="inline-icon") !{icons.get("googlechrome").svg}
				span &nbsp; An ill-advised web extension &nbsp;
	br
	div(class="content")
		h3 Writing
		div(class="content")
			each article in articles.reverse()
				p: a(href=`/${article.path}.htm`)= article.name
	br
	div(class="content")
		h3 Contact
		div(class="content")
			p.tall Email: <code>['o','l','l','i','e'].join('').concat('@etherington.xyz')</code>
