doctype html
html
	head
		meta(charset="utf-8")
		meta(http-equiv="x-ua-compatible" content="ie=edge")
		title= title
		meta(name="description" content="Ollie Etherington")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(author="Ollie Etherington")
		meta(name="keywords" content="ollie,oliver,etherington,london,programmer")
		meta(name="msapplication-TileColor" content="#9f00a7")
		meta(name="theme-color" content="#ffffff")
		link(rel="shortcut icon" type="image/x-icon" href="/favicon.ico?")
		link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
		link(rel="manifest" href="/site.webmanifest")
		link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#272820")
		link(rel="stylesheet" href="css/styles.css")
	body
		div(class="content-full")
			div(class="link-icons")
				a(href="https://github.com/oetherington") !{icons.get("github").svg}
				a(href="https://twitch.tv/ollieetherington") !{icons.get("twitch").svg}
			h2: a(href="/") Ollie Etherington<span class="cursor">&nbsp;</span>
			h4 Programmer | London
		hr
		block content
		div(class="content footer")
			p Copyright &#169; 2014-2022 Ollie Etherington.
			p All content is <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA 4.0</a> unless otherwise stated.
		br
